{% extends "layout.html" %}
{% block content %}
<div class="config-container">
    <h2>Add Printer</h2>
    <form class="form-items" method="post" action="addPrinter.php">

        <label for="printer-id">Printer ID:</label>
        <input id="printer-id" type="text"><br>

        <label for="printer-port">Printer Port:</label>
        <input id="printer-port" type="number"><br>

        <label for="filament-type">Filament Type:</label>
        <select id="filament-type" name="filament-type">
            {% for filament in data.settings.filament %}
            <option value="{{ filament }}">{{ filament }}</option>
            {% endfor %}
        </select>
        
        <label for="nozzle-size">Nozzle Size:</label>
        <select id="nozzle-size" name="nozzle-size">
            {% for size in data.settings.nozzleSize %}
            <option value="{{ size }}">{{ size }} mm</option>
            {% endfor %}
        </select>

        <button id="config-btn" type="submit" value="submit" onlcick="updateJSON()">Add Printer</button>
        
        <script>
            function updateJSON() {
                var printerID = document.getElementById("printer-id")
                var printerPort = document.getElementById("printer-port")
                var filamentType = document.getElementById("printer-type")
                var nozzleSize = document.getElementById("nozzle-size")

                updateJSON.py(printerID, printerPort,filamentType, nozzleSize)
            }
        </script>
        
    </form>
</div>
{% endblock %}