{% extends "layout.html" %}
{% block content %}
<meta http-equiv="refresh" content="30">
<div class="status-container">
    <h2>Print Farm Status</h2>
    <div class="printer-status">
        <!-- Note that 'data' is passed in through flask -->
        {% for printer in printers.printers %}
        {% if printer.status == 'Ready' %}
            <div class="printer green">
        {% elif printer.status == 'Off Line' %}
            <div class="printer grey">
        {% elif printer.status == 'Pick Up' %}
            <div class="printer orange">
        {% elif printer.status == 'Error' %}
            <div class="printer red">
        {% else %}
            <div class="printer green">
        {%  endif %}
            <p>Printer {{ printer.id }} - port #{{ printer.port }}</p>
            <p>Status: {{ printer.status}} </p>
            <!-- I need to add the'note' -->
            <p class="info">Job: {{ printer.job }} </p>
            <p class="info">Nozzle Size: {{ printer.nozzleDiameter }}</p>
            <p class="info">Filament Color: {{ printer.filamentColor }}</p>
            <p class="info">Filament Type: {{ printer.filamentType }}</p>
            <!-- Catch the failed prints if no more filament, needs change, etc.-->
        {% if printer.status == 'Pick Up' %}
            <button class="secondary-btn" id="printer{{ printer.id }}" name="printer{{ printer.id }}">
                Make Ready
            </button>
        {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="jobs-container">
    <h2>JOBS NEEDING ASSISTANCE</h2>
    <table>
        <thead>
            <tr>
                <!-- Change later -->
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Printer</th>
                <th>Status</th>
                <th>Message</th>
                <th>Date/Time Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for job in data.queue %}
            {% if job.status == "Error" or job.status == "RHI" %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.jobName }}</td>
                <td>{{ job.printer }}</td>
                <td>{{ job.status }}</td>
                <td class="issue">{{ job.issue }}</td>
                <td>{{ job.lastUpdated }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}