{% extends "layout.html" %}
{% block content %}
<div class="status-container">
    <h2>Print Farm Status</h2>
    <div class="printer-status">
        <!-- Note that 'data' is passed in through flask -->
        {% for printer in data.printers %}
        {% if printer.jobStatus == 'Ready' %}
            <div class="printer green">
        {% elif printer.jobStatus == 'Off Line' %}
            <div class="printer grey">
        {% elif printer.jobStatus == 'RHI' %}
            <div class="printer orange">
        {% elif printer.jobStatus == 'Error' %}
            <div class="printer red">
        {% else %}
            <div class="printer green">
        {%  endif %}
            <p>Printer {{ printer.id }} - port #{{ printer.port }}</p>
            <p>Status: {{ printer.jobStatus}} </p>
            <!-- I need to add the'note' -->
            <p class="info">Job: {{ printer.job }} </p>
            <p class="info">Nozzle Size: {{ printer.nozzleDiameter }}</p>
            <p class="info">Filament Color: {{ printer.filamentColor }}</p>
            <p class="info">Filament Type: {{ printer.filamentType }}</p>
            <!-- Catch the failed prints if no more filament, needs change, etc.-->
            {% for job in data.queue %} <!-- TODO Figure out why this isn't populating-->
            {% if printer.job == job.id and job.status == 'Pick Up' %}
            <div class="make-ready">
                <input type="checkbox" id="printer{{ printer.id }}" name="printer{{ printer.id }}">
                <label for="printer{{ printer.id }}">Make Ready</label>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="jobs-container">
    <h2>JOBS NEEDING ASSISTANCE</h2>
    <table>
        <thead>
            <tr>
                <!-- Change later -->
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Printer</th>
                <th>Status</th>
                <th>Message</th>
                <th>Date/Time Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for job in data.queue %}
            {% if job.status == "Error" or job.status == "RHI" %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.jobName }}</td>
                <td>{{ job.printer }}</td>
                <td>{{ job.status }}</td>
                <td class="issue">{{ job.issue }}</td>
                <td>{{ job.lastUpdated }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}