{% extends "layout.html" %}
{% block content %}
<div class="printer-container">
    <h2>Printer Information</h2>
    <ul>
        {% for printer in data.printers %}
        <li>
            <!-- Keep it the same for now -->
            <h3>Printer #{{ printer.id }}</h3>
            <p>Port: {{ printer.port }}</p>
            <p>Filament Color: {{ printer.filamentColor }}</p>
            <p>Nozzle Size: {{ printer.nozzleDiameter }}</p>
            <p>Nozzle Diameter: {{ printer.nozzleDiameter }}</p>
            <button class="set-btn">
                <a method="get" href="{{ url_for('configure') }}?printerid={{ printer.id }}">Printer Settings</a>
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
<button class="add-btn">
    <a method="get" href="{{ url_for('add') }}">+ Add Printer</a>
</button>
{% endblock %}